@import url(./__logo-zone/resources__logo-zone.css);
@import url(./__link/resources__link.css);

/* Секция ресурсы  ===================================================*/
.resources {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 217px;
}
