.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}
.feynman__link:hover {
  color: darkblue;
  opacity: .5;
  transition: .15s linear;
}
