.page {
  /* отцентрировали весь контент */
  margin: 0 auto;
/* мы ещё не умеем делать мобильную версию сайта,
  поэтому выше установлена минимальная ширина страницы */
  min-width: 880px;
/* установили ограничение по максимальной ширине */
  max-width: 1280px;
/* все исходные размеры, указанные в макете для экранов больше 1600px уменьшены х0.8*/
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  border: .05rem solid red;
}
