.page {
  margin: 0 auto;
  /* для экранов больше 1600px отцентрировали весь контент */
  min-width: 1050px;
  /* мы ещё не умеем делать мобильную версию сайта,
  поэтому выше установлена минимальная ширина страницы */
  max-width: 1100px;
  /* установили ограничение по максимальной ширине */
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
  transform: scale(.95);
}

/* Обнулить все отступы */
