/* Свойство ссылки*/
.footer__column-link {
  margin: 0;
  height: 22px;
  font-size: 14px;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: .15s linear;
}

.footer__column-link:hover {
  color: rgb(255, 234, 0);
  opacity: .5;
}
