/* Свойство ссылки*/
.footer__column-link {
  margin: 0;
  color: inherit;
  text-decoration: none;
  transition: .15s linear;
}

.footer__column-link:hover {
  color: rgb(255, 234, 0);
  opacity: .5;
}
