.feynman__link {
  position: absolute;
  top: 50%;
  right: 38px;
  line-height: 1.4;
  font-size: 29px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: .15s linear;
}

.feynman__link:hover {
  color: darkblue;
  opacity: .5;
}
