@import url(../vendor/normalize.css);
@import url(../blocks/rotation/rotation.css);
@import url(../blocks/page/page.css);
@import url(../blocks/main/main.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/video/video.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/table/table.css);
@import url(../blocks/khan/khan.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/footer/footer.css);

@import url(../section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(../section-title/_theme_dark/section-title_theme_dark.css);

@import url(../resources/__link/resources__link.css);
@import url(../resourses/__logo-zone/resources__logo-zone.css);

@import url(../logo/_place_footer/logo_place_footer.css);
@import url(../logo/_place_header/logo_place_header.css);

@import url(../khan/__buy-link/khan__buy-link.css);
@import url(../khan/__container/khan__container.css);
@import url(../khan/__author/khan__author.css);
@import url(../khan/__title/khan__title.css);
@import url(../khan/__quote/khan__quote.css);
@import url(../khan/__quote-author/khan__quote-author.css);
@import url(../khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../khan/__book-container/khan__book-container.css);
@import url(../khan/__book-pic/khan__book-pic.css);

@import url(../header/__link/header__link.css);
@import url(../header/__title/header__title.css);
@import url(../header/__subtitle/header__subtitle.css);
@import url(../header/__main-illustration/header__main-illustration.css);
@import url(../header/__square-pic/header__square-pic.css);

@import url(../footer/__column-link/footer__column-link.css);
@import url(../footer/__author/footer__author.css);
@import url(../footer/__columns/footer__columns.css);
@import url(../footer/__column/footer__column.css);
@import url(../footer/__column/_content_copyrignt/footer__column_content_copyright.css);
@import url(../footer/__column/_content_info/footer__column_content_info.css);
@import url(../footer/__column/_content_social/footer__column_content_social.css);
@import url(../footer/__column-heading/footer__column-heading.css);
@import url(../footer/__column-links/footer__column-links.css);
@import url(../footer/__social-icon/footer__social-icon.css);


@import url(../feynman/__link/feynman__link.css);
@import url(../feynman/__title/feynman__title.css);
@import url(../feynman/__subtitle/feynman__subtitle.css);

@import url(../cards/__description/cards__description.css);
@import url(../cards/__item/cards__item.css);
@import url(../cards/__image/cards__image.css);
@import url(../cards/__title/cards__title.css);

@import url(../two-columns/__brief/two-columns__brief.css);
@import url(../two-columns/__main-text/two-columns__main-text.css);
@import url(../two-columns/__paragraph/two-columns__paragraph.css);
@import url(../two-columns/__span-accent/two-columns__span-accent.css);

@import url(../kaufman/__triangle/kaufman__triangle.css);


