@import url(../vendor/normalize.css);
@import url(../blocks/rotation/rotation.css);
@import url(../blocks/page/page.css);
@import url(../blocks/main/main.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/description/description.css);
@import url(../blocks/two-columns/two-columns.css);
@import url(../blocks/techniques/techniques.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/video/video.css);
@import url(../blocks/oakley/oakley.css);
@import url(../blocks/feynman/feynman.css);
@import url(../blocks/digits/digits.css);
@import url(../blocks/section-title/section-title.css);
@import url(../blocks/section-subtitle/section-subtitle.css);
@import url(../blocks/table/table.css);
@import url(../blocks/khan/khan.css);
@import url(../blocks/kaufman/kaufman.css);
@import url(../blocks/resources/resources.css);
@import url(../blocks/footer/footer.css);

@import url(../section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(../section-title/_theme_dark/section-title_theme_dark.css);
@import url(../resources/__link/resources__link.css);
@import url(../logo/_place_footer/logo_place_footer.css);
@import url(../khan/__buy-link/khan__buy-link.css);
@import url(../header/__link/header__link.css);
@import url(../footer/__column-link/footer__column-link.css);
@import url(../feynman/__link/feynman__link.css);
@import url(../two-columns/__span-accent/two-columns__span-accent.css);
@import url(../cards/__description/cards__description.css);
