@keyframes rotation {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта,
  поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
}

/* Обнулить все отступы */

/* Секция заголовок ======================================== */
.header {
  margin: 0;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}

.logo {
  z-index: 4;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
}

.header__title {
  margin: auto 0;
  padding-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 4;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 5;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: darkblue;
  opacity: .5;
  transition: .15s linear;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*background-size: contain; */
  background-repeat: no-repeat;
  z-index: 3;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  animation: rotation 20s linear infinite;
  overflow: hidden;
}

/*===============================================================*/
.main {
  text-decoration: none;
}

/* Секция описание =========================================== */
.description {
  margin: 0;
  position: relative;
  padding-top: 100px;
  background-color: white;
}

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  /*min-height: ; */
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  /* обнуление заданного ранее нижнего отступа у последнего параграфа */
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Секция техники ==============================================*/
.techniques {
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
}

.cards {
  margin: 0 auto;
  width: 920px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cards__item {
  margin: 0;
  width: 240px;
  flex-direction: column;
  text-align: center;
}

.cards__item:nth-child(2) {
  padding-left: 100px;
  padding-right: 100px;
}

.cards__item:nth-child(5) {
  padding-left: 100px;
  padding-right: 100px;
}

.cards__image {
  margin: 0;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 43px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
}

.cards__title {
  margin: 0;
  padding-bottom: 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/* Секция видео =================================================*/
.video {
  margin: 0;
  padding-top: 100px;
}

.video__iframes {
  margin: auto 0;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.video__iframe {
  width: 515px;
  height: 316px;
  padding-right: 20px;
}

/* Секция цифры ============================================= */
.digits {
  margin: 0;
  position: relative;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  padding-top: 20px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  z-index: 2;
}

.table__cell {
  padding-top: 60px;
  width: 250px;
  flex-wrap: wrap;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция Оакли =================================================*/
.oakley {
  margin: 0;
  padding-top: 160px;
  padding-bottom: 100px;
}

/* Секция Фейнман ============================================== */
.feynman {
  margin: 0;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  object-fit: cover;
}

/*.feynman__image
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  background-repeat: no-repeat;
  } */

.feynman__title {
  padding-top: 100px;
  text-align: center;
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  padding-top: 70px;
  text-align: center;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  color: darkblue;
  opacity: .5;
  transition: .15s linear;
}

/* Секция Хан ====================================================*/
.khan {
  margin: 0;
  padding-top: 105px;
  width: 80%;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
}

.khan__author {
  margin: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  margin: 0;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding-top: 50px;
  padding-bottom: 36px;
}

.khan__quote-author {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.khan__quote-author-subline {
  margin: 0;
  padding-bottom: 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  margin: 0;
  width: 608px;
  height: 620px;
  padding-right: 48px;
  object-fit: cover;
  object-position: top;
}

.khan__buy-link {
  margin: 0;
  padding-top: 0;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}

.khan__buy-link:hover {
  color: darkblue;
  opacity: .5;
  transition: .15s linear;
}

/* Секция Кауфман ================================================= */
.kaufman {
  margin: 0;
  padding-top: 90px;
  position: relative;
  color: white;
  background-color: #1f1f1f;
  /*background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  /*background-size: 877px 877px;
  background-position: right -210px top 0;
  object-fit: cover;*/
  /* */
  overflow: hidden;
}

.kaufman__triangle {
  display: flex;
  position: absolute;
  /*width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);*/
  background-size: 877px 877px;
  background-repeat: no-repeat;
  object-fit: cover;
  top: 0;
  right: -210px;
  z-index: 0;
  opacity: .6;
  animation: rotation 20s linear infinite;
}

.section-title_theme_dark {
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  padding-top: 20px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  padding-top: 80px;
  width: 200px;
  flex-wrap: wrap;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 10;
}

.table__text_theme_dark {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 10;
}

/* Секция ресурсы  ===================================================*/
.resources {
  margin: 0;
  padding-top: 100px;
  padding-bottom: 217px;
}

.resources__logo-zone {
  display: flex;
  margin: 0 auto;
  min-width: 1100px;
  justify-content: center;
}

.resources__link {
  text-align: center;
  width: 270px;
  height: 38px;
  padding-top: 80px;
}

.resources__link:hover {
  opacity: .5;
  transition: .15s linear;
}

/* Подножие сайта ================================================== */
.footer {
  margin: 0;
  position: relative;
  min-width: 1100px;
  min-height: 350px;
  background-color: #1f1f1f;
}

/*Вся таблица      */
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  min-width: auto;
  color: white;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-shrink: 2;
}

/* Три колонки  */
.footer__column {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* колонка 1*/
.footer__column_content_copyright {
  margin: 0;
  flex-basis: 711px;
  justify-content: space-between;
}

/* колонка 2*/
.footer__column_content_info {
  margin: 0;
  min-width: auto;
}

/* колонка 3*/
.footer__column_content_social {
  margin: 0;
  min-width: auto;
}

/* Содержание */

/*Содержание колонки 1*/
.logo_place_footer {
  margin: 0;
  color: white;
}

.footer__author {
  margin: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/*Заголовки колонок 2, 3 */
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

/*Cодержание колонки 2, 3 */
.footer__column-links {
  /* у списков надо обнулить все стили по умолчанию */
  margin: 0;
  padding: 0 0 16px 0;
  /* верхний правый нижний левый */
  /* -----------------------------------------------*/
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
}

/* Значки в колонку 3 */
.footer__social-icon {
  margin: 0;
  padding: 0 10px 0 0;
  /* верхний правый нижний левый */
  background-size: 16px 16px;
  background-size: contain;
}

/* Свойство ссылки*/
.footer__column-link {
  margin: 0;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  color: rgb(255, 234, 0);
  opacity: .5;
  transition: .15s linear;
}
