.cards__item {
  margin: 0;
  width: 240px;
  flex-direction: column;
  text-align: center;
}

.cards__item:nth-child(2) {
  padding-left: 100px;
  padding-right: 100px;
}

.cards__item:nth-child(5) {
  padding-left: 100px;
  padding-right: 100px;
}
