/*Вся таблица      */
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  min-width: auto;
  color: white;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-shrink: 2;
}
