@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);



/* Секция Фейнман ============================================== */
.feynman {
  margin: 0;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  object-fit: cover;
}
