/* Секция Фейнман ============================================== */
.feynman {
  margin: 0 auto;
  position: relative;
  min-height: 712px;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 694px 510px;
  object-fit: cover;
}
