/* Секция заголовок ======================================== */
.header {
  position: relative;
  margin: 0 auto;
  height: 100vh;
  min-height: 480px;
  max-height: 605px;
  background-color: #f2f2f2;
  overflow: hidden;
  display: flex;
}
