@import url(./__title/header__title.css);
@import url(./__subtitle/header__subtitle.css);
@import url(./__main-illustration/header__main-illustration.css);
@import url(./__square-pic/header__square-pic.css);
/* Секция заголовок ======================================== */
.header {
  margin: 0;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}
