/* Секция заголовок ======================================== */
.header {
  position: relative;
  display: flex;
  margin: 0;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  overflow: hidden;
}
