@import url(./cards.css);
@import url(./__item/cards__item.css);
@import url(./__image/cards__image.css);
@import url(./__title/cards__title.css);
@import url(./__description/cards__description.css);

/* Секция техники ==============================================*/
.techniques {
  margin: 0 auto;
  padding-top: 100px;
  width: 80%;
}
