/* Секция Кауфман ================================================= */
.kaufman {
  position: relative;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
}
