/* Секция Кауфман ================================================= */
.kaufman {
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 90px;
  position: relative;
  color: white;
  background-color: #1f1f1f;
  /*background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  /*background-size: 877px 877px;
  background-position: right -210px top 0;
  object-fit: cover;*/
   overflow: hidden;
}
