.cards__item {
  margin: 0;
  width: 192px;
  text-align: center;
}

.cards__item:nth-child(2) {
  padding-left: 80px;
  padding-right: 80px;
}

.cards__item:nth-child(5) {
  padding-left: 80px;
  padding-right: 80px;
}
