.two-columns__paragraph {
  margin: 0;
  padding-bottom: 24px;
}

.two-columns__paragraph:last-of-type {
  /* обнуление заданного ранее нижнего отступа у последнего параграфа */
  padding-bottom: 0;
}
