.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.two-columns__paragraph:last-of-type {
  /* обнуление заданного ранее нижнего отступа у последнего параграфа */
  padding-bottom: 0;
}
