
@import url(./__cell/table__cell.css);
@import url(./__heading/table__heading.css);
@import url(./__text/table__text.css);
@import url(./_theme_dark/table_theme_dark.css);
@import url(./__cell/_theme_dark/table__cell_theme_dark.css);
@import url(./__heading/_theme_dark/table__heading_theme_dark.css);
@import url(./__text/_theme_dark/table__text_theme_dark.css);

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  z-index: 2;
}
