.cards__image {
  margin-top: 48px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 34px;
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 200%;
  /*border-radius: 900px;*/
}
