.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 702px;
  height: 702px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotationZ 20s infinite linear;
}
