.kaufman__triangle {
  display: flex;
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  background-repeat: no-repeat;
  top: 0;
  right: -210px;
  }
