/* Подножие сайта ================================================== */
.footer {
  margin: 0 auto;
  /*min-width: 1100px;*/
  max-width: 1050px;
  min-height: 250px;
  background-color: #1f1f1f;
  padding-bottom: 18px;
}
