/* Подножие сайта ================================================== */
.footer {
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1100px;
  min-width: 1050px;
  min-height: 250px;
  background-color: #1f1f1f;
  padding-bottom: 18px;
}
