/*Cодержание колонки 2, 3 */
.footer__column-links {
  /* у списков надо обнулить все стили по умолчанию */
  margin: 0;
  padding: 0 13px 16px 0;
  /* верхний правый нижний левый */
  /* -----------------------------------------------*/
  list-style-type: none;
}
