.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*background-size: contain; */
  background-repeat: no-repeat;
  z-index: 3;
}
