.page
{
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
}

/* Обнулить все отступы */

/* Секция заголовок ======================================== */
.header
{
 display: flex;
 position: relative;
 height: 100vh;
 min-height: 600px;
 max-height: 756px;
 background-color: #f2f2f2;
 margin: 0;
}
.logo_place_header
{
 position: absolute;
 top: 30px;
 left: 64px;
 height: 32px;
 width: 228px;
 z-index: 4;
}
.header_title
{
 position: relative;
 left: 64px;
 margin: auto 0;
 width: 730px;
 line-height: 96px;
 font-size: 102px;
 font-weight: 600;
 z-index: 4;
}
.header_subtitle
{
 position: absolute;
 left: 64px;
 bottom: 30px;
 width: 388px;
 line-height: 25px;
 font-size: 18px;
 font-weight: normal;
 z-index: 5;
}
.header_link
{
 color: #2f80ed;
 text-decoration: none;
 }
.header_main-illustration
{
 position: absolute;
 bottom: 0;
 right: 0;
 width: 765px;
 height: 608px;
 background-repeat: no-repeat;
 background-size: cover;
 z-index: 3;
}
.header_square-pic
{
 position: absolute;
 top: 64px;
 right: 0;
 width: 568px;
 height: 568px;
 background-color:#2f80ed;
}

/* Секция описание =========================================== */
.description
{
 position: relative;
 margin: 0;
 padding-top: 100px;
 background-color: white;
}
.two-columns
{
 display: flex;
 position: relative;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 80%;
 /*min-height: ; */
 margin: 0 auto;
}
.two-columns__brief
{
 color:#2f80ed;
 width: 175px;
 line-height: 1.2;
 font-size: 18px;
 font-weight: normal;
}
.two-columns__main-text
{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 80%;
 min-width: 784px;
}
.two-columns__paragraph
{
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
}
/*.two-columns__span-accsent
 не использовал, у меня свой вариант */

/* Секция цифры ============================================= */
.digits
{
 position: relative;
 background-color: white;
 padding-top: 100px;
 margin-bottom: 100px;
}
.section_title
{
 width: 60%;
 text-align: center;
 margin: 0 auto;
 line-height: 1.15;
 font-size: 60px;
 font-weight: 600;
}
.section_subtitle
{
 padding-top: 20px;
 width: 60%;
 text-align: center;
 margin: 0 auto;
 line-height: 34px;
 font-size: 24px;
 font-weight: normal;
}
.table
{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: space-between;
 width: 1100px;
 margin: 0 auto;
 z-index: 2;
}
.table_cell
{
 padding-top: 60px;
 flex-wrap: wrap;
 width: 250px;
}
.table_heading
{
 line-height: 1.15;
 font-size: 24px;
 font-weight: 600;
}
.table_text
{
 padding-top: 20px;
 line-height: 1.2;
 font-size: 18px;
 font-weight: normal;
}

/* Секция Фейнман ============================================== */
.feynman
{
 margin: 0;
 position: relative;
 height: 890px;
 background-color: #f2f2f2;
 background-image: url(../images/feynman.png);
 background-position: bottom left;
 background-repeat: no-repeat;
}
/*.feynman_image
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  background-repeat: no-repeat;
  } */
.feynman_title
{
 padding-top: 100px;
 text-align: center;
 width: 648px;
 line-height: 1.15;
 font-size: 120px;
 font-weight: 600;
 margin: 0 auto;
}
.feynman_subtitle
{
 padding-top: 70px;
 text-align: center;
 line-height: 51px;
 font-size: 36px;
 font-weight: normal;
 margin: 0 auto;
}
.feynman_link
{
 position: absolute;
 top: 80%;
 right: 48px;
 color: #2f80ed;
 line-height: 1.15;
 font-size: 24px;
 font-weight: 600;
 text-decoration: none;
}

/* Секция Кауфман ================================================= */
.kaufman
{
 margin: 0;
 position: relative;
 height: 890px;
 color: white;
 background-color: #1f1f1f;
 overflow: hidden;
 z-index: 3;
}
 .kaufman_triangle
{
 position: absolute;
 background-image: url(../images/kaufman-triangle.svg);
 background-repeat: no-repeat;
 top: 0;
 right: -210px;
 width: 877px;
 height: 877px;
 opacity: .6;
 z-index: 1;
}
.section_title__theme_dark
{
 padding-top: 90px;
}
.section_subtitle__theme_dark
{
 padding-top: 20px;
}
.table__theme_dark
{
 padding-bottom: 90px;
 color: white;

}
.table_cell__theme_dark
{
 padding-top: 80px;
 width: 200px;
 flex-wrap: wrap;
}
.table_heading__theme_dark
{
 line-height: 1.15;
 font-size: 24px;
 font-weight: 600;
}
.table_text__theme_dark
{
 padding-top: 20px;
 line-height: 1.2;
 font-size: 18px;
 font-weight: normal;
 z-index: 10;
}


/* Подножие сайта ================================================== */
.footer
{
 position: relative;
 min-width: 1100px;
 min-height: 350px;
 background-color: #1f1f1f;
 }
.footer_columns
{
 position: relative;
 margin: 0 auto;
 width: 90%;
 min-height: 350px;
 color: white;
 padding-top: 60px;
 margin-bottom: 40px;
}
/* Три колонки */
/* колонка 1*/
.footer_column__content-copyright
{
 top: 0;
 left: 64px;
 flex-direction: column;
 color: white;
 text-decoration: none;
}

/* колонка 2*/
.footer_column__content-info
{
 display: flex;
 position: absolute;
 left: 900px;
 top: 0;
 flex-direction: column;
 color: white;
 text-decoration: none;
}

/* колонка 3*/
.footer_column__content_social
{
 display: flex;
 position: absolute;
 top: 0;
 right: 64px;
 flex-direction: column;
 color: white;
 text-decoration: none;
}

/* Содержание */

/*Содержание колонки 1*/
.logo_place_footer
{
 top: 0;
 left: 64px;
}
.footer__author
{
 display: flex;
 position: absolute;
 bottom: 0;
 left: 64px;
 padding-top: 18px;
 padding-bottom: 18px;

 line-height: 25px;
 font-size: 18px;
 font-weight: normal;
 color: white;
}
/* Содержание колонки 2, 3 */
.footer_column-heading
{
 line-height: 30px;
 font-size: 18px;
 font-weight: 600;
 margin-bottom: 20px;
 color: white;
}
.footer_column-links
{
 line-height: 30px;
 font-size: 18px;
 font-weight: normal;
 text-decoration: none;
 color: white;
}
/* Содержание колонки 3 */
.footer__social-icon
{
 width: 16px;
 height: 16px;
 background-size: contain;
}
.footer_column-link
{
 height: 10px;
 text-decoration: none;
 color: white;
}
