.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
}


/* Обнулить все отступы */

/* Секция заголовок ======================================== */
.header {
  margin: 0;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}
.logo
{
  z-index: 4;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;

}

.header__title {
  margin: auto 0;
  padding-left: 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 4;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 5;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: darkblue;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*background-size: contain; */
  background-repeat: no-repeat;
  z-index: 3;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.main {
  text-decoration: none;
}

/* Секция описание =========================================== */
.description {
  margin: 0;
  position: relative;
  padding-top: 100px;
  background-color: white;
}

.two-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  /*min-height: ; */
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  /* обнуление заданного ранее нижнего отступа у последнего параграфа */
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Секция цифры ============================================= */
.digits {
  margin: 0;
  position: relative;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  padding-top: 20px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  z-index: 2;
}

.table__cell {
  padding-top: 60px;
  width: 250px;
  flex-wrap: wrap;

}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 0;
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция Фейнман ============================================== */
.feynman {
  margin: 0;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  object-fit: cover;
}

/*.feynman__image
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  background-repeat: no-repeat;
  } */

.feynman__title {
  padding-top: 100px;
  text-align: center;
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  padding-top: 70px;
  text-align: center;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  color: darkblue;
}

/* Секция Кауфман ================================================= */
.kaufman {
  margin: 0;
  position: relative;
  min-height: 890px;
  color: white;
  background-color: #1f1f1f;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  background-position: right -210px top 0;
  object-fit: cover;
  overflow: hidden;
}

.kaufman__triangle {
  /*  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1; */
}

.section-title_theme_dark {
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  padding-top: 20px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  padding-top: 80px;
  width: 200px;
  flex-wrap: wrap;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 10;
}

.table__text_theme_dark {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 10;
}

/* Подножие сайта ================================================== */
.footer {
  margin: 0;
  position: relative;
  min-width: 1100px;
  min-height: 350px;
  background-color: #1f1f1f;
}

/*Вся таблица      */
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  max-width: auto;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-shrink: 2;
}

/* Три колонки */
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* колонка 1*/
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}


/* колонка 2*/
.footer__column_content_info {
  justify-content: space-between;
  padding-right: 200px;
  min-width: fit-content;
  /* при увеличении масштаба колонка наезжает на колонку, сделать shrink */
}

/* колонка 3*/
.footer__column_content_social {
  min-width: auto;
}

/* Содержание */

/*Содержание колонки 1*/
.logo_place_footer {
  color: white;

}

.footer__author {
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Содержание колонки 2, 3 */
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

/*Cодержание колонки 2 */
.footer__column-links {
  min-width: fit-content;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 16px;
  list-style-type: none;
}

/* Содержание колонки 3 */
.footer__social-icon {
  margin: 0;
  background-size: 16px 16px;
  background-size: contain;
}

/* Свойство ссылки*/
.footer__column-link {
  margin: 0;
  color: white;
}

.footer__column-link:hover {
  color: rgb(255, 234, 0);
}
