.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', 'sans-serif';
<<<<<<< HEAD

=======
   /*text-decoration: none; */
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}


/* Обнулить все отступы */

/* Секция заголовок ======================================== */
<<<<<<< HEAD
.header {
=======
.header
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  margin: 0;
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
<<<<<<< HEAD
}

.logo_place_header {
=======

}
.logo_place_header
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 228px;
  z-index: 4;
}
<<<<<<< HEAD

.header__title {
  margin: auto 0;
  padding-left: 64px;
=======
.header_title
{
  position: relative;
  left: 64px;
  margin: auto 0;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 4;
}
<<<<<<< HEAD

.header__subtitle {
  margin: 0;
=======
.header_subtitle
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 5;
}
<<<<<<< HEAD

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover {
  color: darkblue;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*background-size: contain; */
  background-repeat: no-repeat;
  z-index: 3;
}

.header__square-pic {
=======
.header_link
{
  color: #2f80ed;
  text-decoration: none;
 }
.header_main-illustration
{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-repeat: no-repeat;
 /* background-size: contain; */
  z-index: 3;
}
.header_square-pic
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
<<<<<<< HEAD
  background-color: #2f80ed;
}

.main {
  text-decoration: none;
}

/* Секция описание =========================================== */
.description {
=======
  background-color:#2f80ed;
}

/* Секция описание =========================================== */
.description
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  margin: 0;
  position: relative;
  padding-top: 100px;
  background-color: white;
}
<<<<<<< HEAD

.two-columns {
  display: flex;
=======
.two-columns
{
  display: flex;     /* */
  position: relative; /* */
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
<<<<<<< HEAD
  /*min-height: ; */
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
=======
 /*min-height: ; */
  margin: 0 auto;
}
.two-columns__brief
{
  color:#2f80ed;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
<<<<<<< HEAD
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-of-type {
  /* обнуление заданного ранее нижнего отступа у последнего параграфа */
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
=======
  padding-top: 12px; /* немного опускаем бриф вниз */
}
.two-columns__main-text
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph
{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}

/* Секция цифры ============================================= */
<<<<<<< HEAD
.digits {
  margin: 0;
  position: relative;
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
=======
.digits
{
  margin-top: 0; /* */
  position: relative;
  background-color: white;
  padding-top: 100px;
  margin-bottom: 100px;
}
.section_title
{
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;

}
.section_subtitle
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  padding-top: 20px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
<<<<<<< HEAD

.table {
=======
.table
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
<<<<<<< HEAD
  margin: 0 auto;
  z-index: 2;
}

.table__cell {
=======
  margin: 0 auto;  /* margine: auto; */
  z-index: 2;
}
.table_cell
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  padding-top: 60px;
  width: 250px;
  flex-wrap: wrap;

}
<<<<<<< HEAD

.table__heading {
  margin: 0;
=======
.table_heading
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
<<<<<<< HEAD

.table__text {
  margin: 0;
=======
.table_text
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/* Секция Фейнман ============================================== */
<<<<<<< HEAD
.feynman {
  margin: 0;
  position: relative;
  min-height: 890px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  object-fit: cover;
=======
.feynman
{
  margin: 0;
  position: relative;
  height: 890px;
  background-color: #f2f2f2;
  background-image: url(./images/feynman.png);
  background-position: bottom left;
  background-repeat: no-repeat;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}

/*.feynman__image
{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
  background-repeat: no-repeat;
  } */
<<<<<<< HEAD

.feynman__title {
  padding-top: 100px;
  text-align: center;
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.feynman__subtitle {
  padding-top: 70px;
  text-align: center;
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
}

.feynman__link:hover {
  color: darkblue;
}

/* Секция Кауфман ================================================= */
.kaufman {
  margin: 0;
  position: relative;
  min-height: 890px;
  color: white;
  background-color: #1f1f1f;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: 877px 877px;
  background-position: right -210px top 0;
  object-fit: cover;
  overflow: hidden;
}

.kaufman__triangle {
  /*  position: absolute;
  top: 0;
  right: -210px;
  z-index: 1; */
}

.section-title_theme_dark {
  padding-top: 90px;
}

.section-subtitle_theme_dark {
  padding-top: 20px;
}

.table_theme_dark {
  padding-bottom: 90px;
}

.table__cell_theme_dark {
  padding-top: 80px;
  width: 200px;
  flex-wrap: wrap;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  z-index: 10;
}

.table__text_theme_dark {
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 10;
}

/* Подножие сайта ================================================== */
.footer {
=======
.feynman_title
{
  padding-top: 100px;
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin: 0 auto;
}
.feynman_subtitle
{
  padding-top: 70px;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
}
.feynman_link
{
  position: absolute;
  top: 80%;
  right: 48px;
  color: #2f80ed;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-decoration: none;
}

/* Секция Кауфман ================================================= */
.kaufman
{
  margin: 0;
  position: relative;
  height: 890px;
  color: white;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 3; /* */
}
 .kaufman_triangle
{
  position: absolute;
  background-image: url(./images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  opacity: .6;
  z-index: 1;
}
.section_title__theme_dark
{
  padding-top: 90px;
}
.section_subtitle__theme_dark
{
  padding-top: 20px;
}
.table__theme_dark
{
  padding-bottom: 90px;
 /* color: white; */  /* */
}
.table_cell__theme_dark
{
  padding-top: 80px;
  width: 200px;
  flex-wrap: wrap; /* */
}
.table_heading__theme_dark
{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table_text__theme_dark
{
  padding-top: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  z-index: 10;
}

/* Подножие сайта ================================================== */
.footer
{
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
  margin: 0;
  position: relative;
  min-width: 1100px;
  min-height: 350px;
  background-color: #1f1f1f;
<<<<<<< HEAD
=======
 }
.footer_columns
{
  position: relative; /* */
  width: 90%;
  min-height: 350px;
  color: white;
  margin: 0 auto;    /* */
  padding-top: 60px;
  margin-bottom: 40px; /* */
}

/* Три колонки */
/* колонка 1*/
.footer_column__content-copyright
{
  top: 0;
  left: 64px;
  flex-direction: column;
  color: white;
  text-decoration: none;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}

/*Вся таблица      */
.footer__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  min-height: 250px;
  max-width: auto;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  flex-shrink: 2;
}

/* Три колонки */
.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* колонка 1*/
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}


/* колонка 2*/
<<<<<<< HEAD
.footer__column_content_info {
  justify-content: space-between;
  padding-right: 200px;
  min-width: fit-content;
  /* при увеличении масштаба колонка наезжает на колонку, сделать shrink */
}

/* колонка 3*/
.footer__column_content_social {
  min-width: auto;
=======
.footer_column__content-info
{
  display: flex;
  position: absolute;
  left: 900px;
  top: 0;
  flex-direction: column;
  color: white;
  text-decoration: none;
}

/* колонка 3*/
.footer_column__content_social
{
  display: flex;
  position: absolute;
  top: 0;
  right: 64px;
  flex-direction: column;
  color: white;
  text-decoration: none;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}

/* Содержание */

/*Содержание колонки 1*/
<<<<<<< HEAD
.logo_place_footer {
  color: white;

=======
.logo_place_footer
{
  top: 0;
  left: 64px;
}
.footer__author
{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 64px;
  padding-top: 18px;
  padding-bottom: 18px;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}

.footer__author {
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

/* Содержание колонки 2, 3 */
<<<<<<< HEAD
.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}

/*Cодержание колонки 2 */
.footer__column-links {
  min-width: fit-content;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 16px;
  list-style-type: none;
=======
.footer_column-heading
{
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}
.footer_column-links
{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: white;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}

/* Содержание колонки 3 */
<<<<<<< HEAD
.footer__social-icon {
  margin: 0;
  background-size: 16px 16px;
  background-size: contain;
}

/* Свойство ссылки*/
.footer__column-link {
  margin: 0;
  color: white;
}

.footer__column-link:hover {
  color: rgb(255, 234, 0);
=======
.footer__social-icon
{
  width: 16px;
  height: 16px;
  background-size: contain;
}
.footer_column-link
{
  height: 10px;
  text-decoration: none;
  color: white;
>>>>>>> 621dfbceb5c14281f1d4e2db774713187caa3dd8
}
