.khan__buy-link {
  margin: 0;
  margin-left: 38px;
  padding-top: 10px;
  line-height: 1.4px;
  font-size: 24px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  color: darkblue;
  opacity: .5;
  transition: .15s linear;
}
